/Aufgabe_1_MathematischeBerechnungen.class
/Aufgabe_2_Methode_und_if.class
/Aufgabe_3_Selbstabholerrabatt.class
/Aufgabe_7_Verschachtelte_Schleifen.class
/Fallunterscheidungen.class
/Kommentare.class
/Methoden.class
/MethodenMitVariablerAnzahlAnArgumenten.class
/Operatoren.class
/Schleifen.class
/VariablenUndDatentypen.class
/halloWelt.class
